body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery/a89abd8eb671e1f676eabe8cebaa5267.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 697px; }
.root { width: 320px; height: 697px; overflow: hidden; }
#wb_element_instance18 { left: 0px; top: 70px; min-width: 320px; width: 320px; min-height: 40px; height: 40px; display: block; z-index: 62; }
#wb_element_instance18 ul { background: #bcbcbc none repeat scroll left top; }
#wb_element_instance18 .btn-collapser { display: inline-block; }
#wb_element_instance18 > ul { display: none; }
#wb_element_instance18.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance18.collapse-expanded > ul > li { display: block; }
#wb_element_instance18.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance18.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance18 ul { border: 1px none #000000; }
#wb_element_instance18, #wb_element_instance18 ul { text-align: right; }
#wb_element_instance18 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance18 li { margin: 0px 0px 0px 0px; }
#wb_element_instance18 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal normal 15px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 17px; background: transparent none repeat scroll center center; }
#wb_element_instance18 li:hover > a, #wb_element_instance18 li:focus > a { border: 0px none #000000; font: normal bold 15px Arial,Helvetica,sans-serif; text-decoration: none; color: #910091; line-height: 17px; background: transparent none no-repeat scroll center center; }
#wb_element_instance18 li.active > a { border: 0px none #000000; font: normal bold 15px Arial,Helvetica,sans-serif; text-decoration: none; color: #910591; line-height: 17px; background: transparent none no-repeat scroll center center; }
#wb_element_instance19 { left: 10px; top: 0px; min-width: 270px; width: 270px; min-height: 72px; height: 72px; display: block; z-index: 85; }
#wb_element_instance20 { left: 40px; top: 10px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 60; }
#wb_element_instance21 { left: 0px; top: 130px; display: block; z-index: 9000; }
#wb_element_instance22 { left: 0px; top: 150px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 963px; }
	.root { width: 992px; height: 963px; overflow: visible; }
	#wb_element_instance18 { left: 210px; top: 60px; min-width: 780px; width: 780px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance18 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance18 .btn-collapser { display: none; }
	#wb_element_instance18 > ul { display: block; }
	#wb_element_instance19 { left: 10px; top: 0px; min-width: 160px; width: 160px; min-height: 91px; height: 91px; display: block; }
	#wb_element_instance20 { left: 330px; top: 30px; min-width: 364px; width: 364px; min-height: 26px; height: 26px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 963px; }
	.root { width: 992px; height: 963px; overflow: visible; }
	#wb_element_instance18 { left: 210px; top: 60px; min-width: 780px; width: 780px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance18 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance18 .btn-collapser { display: none; }
	#wb_element_instance18 > ul { display: block; }
	#wb_element_instance19 { left: 10px; top: 0px; min-width: 160px; width: 160px; min-height: 91px; height: 91px; display: block; }
	#wb_element_instance20 { left: 330px; top: 30px; min-width: 364px; width: 364px; min-height: 26px; height: 26px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 963px; }
	.root { width: 992px; height: 963px; overflow: visible; }
	#wb_element_instance18 { left: 210px; top: 60px; min-width: 780px; width: 780px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance18 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance18 .btn-collapser { display: none; }
	#wb_element_instance18 > ul { display: block; }
	#wb_element_instance19 { left: 10px; top: 0px; min-width: 160px; width: 160px; min-height: 91px; height: 91px; display: block; }
	#wb_element_instance20 { left: 330px; top: 30px; min-width: 364px; width: 364px; min-height: 26px; height: 26px; display: block; }
}
